<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Parking82</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a  align = "center" class="navbar-brand ps-3" href="index.html">Parking82</a>
            <!-- Sidebar Toggle-->           
           
        </nav>
        <div id="layoutSidenav">
            
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                            
                            <div class="card-body" align="center">

                                <h2>TODAS AS VAGAS</h2>
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr align="center">

                                            <th>VAGA</th>
                                            <th colspan="2">STATUS</th> 
                                            
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr th:each="vag : ${vaga}">
                                                                                     
                                            <th style="text-align: center;" th:text="${vag.vagas}"></th>    
        
                                            <td style="background-color: green; color: white; text-align: center;" th:unless="${vag.status == true}">
                                               Livre                                            
                                            </td>
    
                                            <td style="background-color: red; color: white;" th:if="${vag.status == true}">
                                                Ocupado                                          
                                            </td>
    
                                        </tr>
                                    </tbody>          
                                        
                                </table>
                            </div>
                        </div>
                        
                        <div align="center"><a  class="btn btn-primary" th:href="@{/cadastro}">Cadastrar</a> </div>
                        <div align="center"><a  class="btn btn-primary" th:href="@{/clientes}">Clientes</a> </div>
                    </div>
                </main>
                
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; criado em 2023</div>
                            <div>
                                <a href="#">Política de privacidade</a>
                                &middot;
                                <a href="#">Termos &amp; Condições</a>  
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>
